openapi: 3.0.1
info:
  title: Swagger Floria Capital
  description: This is Floria Server api document
  termsOfService: http://swagger.io/terms/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.floriacapital.dev
paths:
  /private/loan-formula-information/get-loan-type-information-by-type:
    get:
      tags:
      - Private
      summary: API call from back-end to get loan formula information by type
      parameters:
        - name: type
          in: query
          schema:
            type: string
          example: EXP_HL

      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      min_loan_amount:
                        type: integer
                      is_active:
                        type: boolean
                      updated_at:
                        type: number
                      max_loan_amount:
                        type: integer
                      payment_frequencies:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: integer
                      updated_by:
                        type: string
                      created_at:
                        type: number
                      durations:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: integer
                      loan_type_information_id:
                        type: string
                      loan_type:
                        type: string
                      created_by:
                        type: string
                  message:
                    type: string
              examples:
                '0':
                  value: >-
                    {"message":"","data":{"updated_at":1640161770.34,"durations":[{"name":"3_months","value":3},{"name":"6_months","value":6},{"name":"9_months","value":9},{"name":"12_months","value":12},{"name":"24_months","value":24}],"created_at":1640161770.34,"updated_by":"2b11ff66-458b-47a2-a198-4300e9f6a0db","min_loan_amount":10000,"loan_type":"EXP_HL","max_loan_amount":50000,"created_by":"2b11ff66-458b-47a2-a198-4300e9f6a0db","payment_frequencies":[{"name":"monthly","value":1}],"is_active":true,"loan_type_information_id":"48760381630111ec82a673ebe3faaf31265ds"}}
  /private/loan-formula-information/get-loan-formula-by-type-and-loan-amount-middle:
    get:
      tags:
        - Private
      summary: API call from back-end to get loan formula by type and loan amount between min and max
      parameters:
        - name: loan_amount_middle
          in: query
          schema:
            type: string
          example: '12000'
        - name: type
          in: query
          schema:
            type: string
          example: EXP_HL
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      is_active:
                        type: boolean
                      closing_fee:
                        type: integer
                      loan_origination_fee:
                        type: integer
                      created_at:
                        type: number
                      loan_formula_information_id:
                        type: string
                      loan_type:
                        type: string
                      created_by:
                        type: string
                      loan_service_fee:
                        type: integer
                      min_loan_amount:
                        type: integer
                      updated_at:
                        type: number
                      extension_fee:
                        type: integer
                      max_loan_amount:
                        type: integer
                      updated_by:
                        type: string
                      interest_rate:
                        type: integer
                      nsf_fee:
                        type: integer
                  message:
                    type: string
              examples:
                '0':
                  value: >-
                    {"message":"","data":{"loan_origination_fee":4,"created_at":1640161718.596,"loan_service_fee":20,"loan_type":"EXP_HL","min_loan_amount":10000,"created_by":"2b11ff66-458b-47a2-a198-4300e9f6a0db","max_loan_amount":14999,"updated_at":1640161718.596,"nsf_fee":50,"extension_fee":40,"updated_by":"2b11ff66-458b-47a2-a198-4300e9f6a0db","closing_fee":0,"loan_formula_information_id":"299eaa25630111ec856521fsadasdas0f00eb55d","is_active":true,"interest_rate":14}}
  /private/loan-formula-information/get-loan-term:
    get:
      tags:
        - Private
      summary: Get loan term from loan formula information
      parameters:
        - name: loan_type
          in: query
          schema:
            type: string
          example: 'EXP_HL'
        - name: loan_amount
          in: query
          schema:
            type: string
          example: 14000
        - name: duration_value
          in: query
          schema:
            type: string
          example: 12
        - name: payment_frequency_name
          in: query
          schema:
            type: string
          example: "monthly"  
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      loan_amount:
                        type: number
                      duration:
                        type: object
                        properties:
                          name:
                            type: string
                          value:
                            type: number
                      payment_frequency:
                        type: object
                        properties:
                          name:
                            type: string
                          value:
                            type: number
                      loan_fee:
                        $ref: '#/components/schemas/LoanFee'
                  message:
                    type: string
              examples:
                '0':
                  value: >-
                    {"message":"","data":{"loan_amount":14000,"duration":{"name":"12_months","value":12},"payment_frequency":{"name":"monthly","value":1},"loan_fee":{"loan_origination_fee":4,"loan_service_fee":20,"extension_fee":40,"interest_rate":14,"nsf_fee":50,"closing_fee":0}}}
  /new-loan-application/get-loan-type-information:
    get:
      tags:
        - Private
      summary: API call from front-end to get loan formula information
      parameters:
        - name: type
          in: query
          schema:
            type: string
          example: EXP_HL
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      min_loan_amount:
                        type: integer
                      is_active:
                        type: boolean
                      updated_at:
                        type: number
                      max_loan_amount:
                        type: integer
                      payment_frequencies:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: integer
                      updated_by:
                        type: string
                      created_at:
                        type: number
                      durations:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: integer
                      loan_type_information_id:
                        type: string
                      loan_type:
                        type: string
                      created_by:
                        type: string
                  message:
                    type: string
              examples:
                '0':
                  value: >-
                    {"message":"","data":{"loan_amount":14000,"duration":{"name":"12_months","value":12},"payment_frequency":{"name":"monthly","value":1},"loan_fee":{"loan_origination_fee":4,"loan_service_fee":20,"extension_fee":40,"interest_rate":14,"nsf_fee":50,"closing_fee":0}}}
  /new-loan-application/get-loan-calculator-sample-result:
    get:
      tags:
      - Loan
      summary: get loan calculator sample result
      operationId: loanSample
      parameters:
      - name: loan_amount
        in: query
        required: true
        schema:
          type: number
      - name: loan_duration
        in: query
        required: true
        schema:
          type: number
      - name: payment_frequency
        in: query
        required: true
        schema:
          type: string
      - name: type
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Loan_Sample'
        400:
          description: Invalid input
          content: {}
        404:
          description: Formula not found
          content: {}
  /customer-service/create-ticket:
    post:
      tags:
      - Customer Service
      description: Auto generated using Swagger Inspector
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiIxODg4YmRkMC02YzJkLTRhNjktYjM0OC02NDE4NDI0MTQ3N2UiLCJldmVudF9pZCI6IjIxOGQxYjkwLTdkNTMtNGU0OC05Yjk2LWE2ZmFiNjI4OWIxMyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNTUxMDcsImV4cCI6MTY0MDI1ODcwNywiaWF0IjoxNjQwMjU1MTA3LCJqdGkiOiI4Mzc0MDJlMC0xM2I3LTQxZjYtYmVlYi0wOTBkZGFjMjdkZGYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.W_MCiHjNqoGal6JyTGRrndFVABtU85DFj8QyJWERA7g_3GWwYPJMFgEXERaZe0MxVT7iA2NIctWloCbM6RXO0QCXyj0V3j1pcvqPoQKwrKMF7-f6T3dzMPGLvCjWY7Tzm4D-El8NW7glSY0Vo67usm1UxRrNZK1SKdzwCPcd3_ojvejY0XFjtUdHKKEZwpx-StXt4-uXQu4AqmNJPCv48UdDNaeGSJEWkhlaNSQGv1l4eFNWp13hEzCCkx04SVifJX_hMNT0mCLmOdorGSr3dwP4nP6DKkxrjHG7EBKMJVAdwCwkUALT2Wwkjc3YtLY6QGaXpfiMYZEjcUeuoZ2Tqg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mind:
                  type: string
                user_name:
                  type: string
                subject:
                  type: string
                email:
                  type: string
            examples:
              '0':
                value: "{\r\n   \"user_name\":\"dat\",\r\n   \"email\":\"huudattran0402@gmail.com\",\r\n   \"subject\":\"subject1111\",\r\n   \"mind\":\"description111\"\r\n}"
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                  message:
                    type: string
              examples:
                '0':
                  value: '{"message":"Your request has been post","data":""}'
      
  /client/user-access-service/check-user-can-apply-loan:
    get:
      tags:
      - Loan
      summary: check if user is eligible to apply loan
      description: Auto generated using Swagger Inspector
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiIxODg4YmRkMC02YzJkLTRhNjktYjM0OC02NDE4NDI0MTQ3N2UiLCJldmVudF9pZCI6IjIxOGQxYjkwLTdkNTMtNGU0OC05Yjk2LWE2ZmFiNjI4OWIxMyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNTUxMDcsImV4cCI6MTY0MDI1ODcwNywiaWF0IjoxNjQwMjU1MTA3LCJqdGkiOiI4Mzc0MDJlMC0xM2I3LTQxZjYtYmVlYi0wOTBkZGFjMjdkZGYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.W_MCiHjNqoGal6JyTGRrndFVABtU85DFj8QyJWERA7g_3GWwYPJMFgEXERaZe0MxVT7iA2NIctWloCbM6RXO0QCXyj0V3j1pcvqPoQKwrKMF7-f6T3dzMPGLvCjWY7Tzm4D-El8NW7glSY0Vo67usm1UxRrNZK1SKdzwCPcd3_ojvejY0XFjtUdHKKEZwpx-StXt4-uXQu4AqmNJPCv48UdDNaeGSJEWkhlaNSQGv1l4eFNWp13hEzCCkx04SVifJX_hMNT0mCLmOdorGSr3dwP4nP6DKkxrjHG7EBKMJVAdwCwkUALT2Wwkjc3YtLY6QGaXpfiMYZEjcUeuoZ2Tqg
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      is_can_apply_loan:
                        type: boolean
                  message:
                    type: string
              examples:
                '0':
                  value: '{"message":"","data":{"is_can_apply_loan":false}}'
        400:
          description: Operation failed
         
      security:
      - floria_auth:
        - write:loan 
  
  /user-access-service/create-loan-draft:
      post:
        tags:
        - Loan
        description: Create loan draft
                
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  primary_personal_information:
                    type: object
                    properties:
                      date_of_birth:
                        type: integer
                      first_name:
                        type: string
                      last_name:
                        type: string
                      is_canadian_citizen:
                        type: boolean
                      phone_number:
                        type: object
                        properties:
                          area_code:
                            type: string
                          content:
                            type: string
                      email:
                        type: string
                      ownership_status:
                        type: string
                      address:
                        type: object
                        properties:
                          input_search:
                            type: string
                          content:
                            type: string
                          place_id:
                            type: string
                  property_information:
                    type: object
                    properties:
                      address:
                        type: object
                        properties:
                          unit_number:
                            type: string
                          postal_code:
                            type: string
                          content:
                            type: string
                          place_id:
                            type: string
                          input_search:
                            type: string
                      type_of:
                        type: object
                        properties:
                          value:
                            type: string
                          content:
                            type: object
                            properties:
                              en_US:
                                type: string
                              fr_FR:
                                type: string
                  loan_type:
                    type: string
                  bank_account_token:
                    type: string
                  bank_access_token:
                    type: string
                  loan_terms:
                    type: object
                    properties:
                      duration:
                        type: integer
                      payment_frequency:
                        type: string
                      loan_amount:
                        type: integer
              examples:
                '0':
                  value: {"loan_type":"home_improvement_loan","bank_account_token":"AAAAAAAA","bank_access_token":"BBBBBB","loan_terms":{"loan_amount":14000,"duration":200,"payment_frequency":"monthly"},"property_information":{"address":{"input_search":"test_input_search","content":"test address","unit_number":"","place_id":"ChIJpSNbehYayUwRoA6rCvUqS3M","postal_code":"H9W"},"type_of":{"value":"SINGLE","content":{"en_US":"Single-Family","fr_FR":"Single-Family"}}},"primary_personal_information":{"first_name":"Le","last_name":"Hoang","email":"hoangln@nunitech.vn","phone_number":{"content":"+840974974974","area_code":"+84"},"address":{"input_search":"test_input_search","content":"test address","place_id":"ChIJpSNbehYayUwRoA6rCvUqS3M"},"date_of_birth":1071334800,"ownership_status":"Primary Owner","is_canadian_citizen":true}}
        responses:
          '200':
            description: Successful Operation
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        loan_draft_id:
                          type: string
                    message:
                      type: string
                examples:
                  '0':
                    value: {"message":"","data":{"loan_draft_id":"7b935429623a11ecbc8b5d1975c76c86"}}
          400:
            description: Operation failed
 
  /client/user-access-service/load-loan-draft:
    get:
      tags:
      - Loan
      description: Load loan draft
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiJiYzdkZGQ4Yy0zZDg1LTQzNTEtYWI2My1jN2NkNTZmMzNlNjUiLCJldmVudF9pZCI6IjhmN2E1ZmE4LWY3NDYtNDE2ZS04MDRkLWI1MjI4Y2NlNjg5MyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNDgzNzYsImV4cCI6MTY0MDI1MTk3NiwiaWF0IjoxNjQwMjQ4Mzc2LCJqdGkiOiIwZjgxMTJiNS03MzJjLTQ1NGQtYmQ4Ny00ZjdlMjRkMTI3MzEiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.rSq3V_BlSv2IABMCyCKhJgSJWHGDC9ppf-bJ5pvRADGfi5J5Cw8TqVFstZKuFQ6v_bdRU-OMVSXdleEId43ubrLPN1W3zOz7f3qQRc10_zut-AM0qfc7TneN2b2fhkOvdiTP-bdTxmtMD0U34cEmqEdUUQcM33oYaZHJc0P6SaJjmomXqlNKAmQLCOkwj6sA4AZYPrnOp2ko5ZDd1gWF8J5moY7Ae8U8gsHi2uZOKYtIJdT-V93blmbdvBC95L66le1e_LL0X_aT0excRiLzu4fN2EshhrtA62oc92cN4kFiz-29miliT5_Ho0Vlq14tsVWjt7Ot7Zx4XxsTItuJgA
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      primary_personal_information:
                        type: object
                        properties:
                          date_of_birth:
                            type: integer
                          name:
                            type: string
                          is_canadian_citizen:
                            type: boolean
                          phone_number:
                            type: object
                            properties:
                              area_code:
                                type: string
                              content:
                                type: string
                          email:
                            type: string
                          ownership_status:
                            type: string
                      property_information:
                        type: object
                        properties:
                          address:
                            type: object
                            properties:
                              unit_number:
                                type: string
                              postal_code:
                                type: string
                              content:
                                type: string
                              place_id:
                                type: string
                          type_of:
                            type: string
                      loan_draft_id:
                        type: string
                      is_published:
                        type: boolean
                      personal_information:
                        type: array
                        items:
                          type: string
                      created_at:
                        type: number
                      loan_type:
                        type: string
                      loan_terms:
                        type: object
                        properties:
                          duration:
                            type: integer
                          payment_frequency:
                            type: string
                          loan_amount:
                            type: integer
                  message:
                    type: string
              examples:
                '0':
                  value: >-
                    {"message":"","data":{"loan_draft_id":"6989b6a6618111ecb4cb61bad65cf77e","loan_type":"HOME_LOAN","is_published":true,"loan_terms":{"duration":12,"payment_frequency":"monthly","loan_amount":5000},"property_information":{"type_of":"TWO","address":{"unit_number":"13","postal_code":"H3G
                    1A4","content":"600 University Ave, Toronto, ON M5G 1X5,
                    Canada","place_id":"ChIJ2_HZWsg0K4gR6Ifmv4w7Yi0"}},"primary_personal_information":{"name":"doe","is_canadian_citizen":true,"phone_number":{"content":"+84766735782","area_code":"+84"},"email":"mungpham1010@gmail.com","date_of_birth":705085200,"ownership_status":"PRIMARY_OWNER"},"personal_information":[],"created_at":1639996898.966}}
        
        405:
          description: Invalid input
          content: {}
      security:
      - floria_auth:
        - read:loan     
  /client/user-access-service/create-loan-history:
      post:
        tags:
        - Loan              
        description: Create loan history
        parameters:
          - name: access-token
            in: header
            schema:
              type: string
            example: >-
              eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiI4YjJkYjBmZi01OTlkLTQxMWItYTQ0My04YjIwMzEyNzc1ZTQiLCJldmVudF9pZCI6IjU4Yjg3M2YxLTU4ZDQtNGExMi04ZDhiLTMwMjk5ZTg5MWVjNCIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAzMTA5MjgsImV4cCI6MTY0MDMxNDUyOCwiaWF0IjoxNjQwMzEwOTI4LCJqdGkiOiJkMDc4NTk0MS01NjY0LTQzMzMtODU3Ni0yMmZjNjJhNGRlMzYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.nYTZJu8jF2ZjcYQJWeGxNAu4Lfg_c7BBDkdvzWr3lnJkGlTvGuVrwafCTms-nTtA3Bj1dfbciuhW3MMg8tvE4n4jPPpi99VrD9U5HLjeX-YG8rkh5Ae-SE2iUBJQbpBsyxJa_Ul6YSWbxpyJKV9fCj4GobOYrZBkFrcjqxsSCftxRkyavEB8fkXWfT5enusxS66u6Eug_rEo_SU5kkIgQH0_gU6NMy_wNPuzgHvxuYwjjV4spyOYZgZDP5Vx10Wouy2HPeUWMzh0vWPspnLZSBCYisR9dNbPD17tzO6-Bl08PCutYHgtiVsCaVkWbl4TCJ0rT6HsFpAvlAD33WpFow
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  questionnaire:
                    type: array
                    items:
                      type: object
                      properties:
                        active_answer:
                          type: integer
                        question_order:
                          type: integer
                        page_title:
                          type: string
                        icon:
                          type: string
                        condition_display_question:
                          type: string
                        content_key:
                          type: string
                        type:
                          type: string
                        is_hide_item:
                          type: boolean
                        question_id:
                          type: integer
                        next_question_id:
                          type: string
                        value_answer_input:
                          type: string
                        sub_item:
                          type: array
                          items:
                            type: object
                            properties:
                              active_answer:
                                type: integer
                              question_order:
                                type: integer
                              valueAnswer:
                                type: integer
                              page_title:
                                type: string
                              icon:
                                type: string
                              condition_display_question:
                                type: string
                              content_key:
                                type: string
                              type:
                                type: string
                              is_hide_item:
                                type: boolean
                              question_id:
                                type: integer
                              next_question_id:
                                type: integer
                              value_answer_input:
                                type: string
                              sub_item:
                                type: array
                                items:
                                  type: string
                              parent_id:
                                type: integer
                              prev_question_id:
                                type: string
                        parent_id:
                          type: integer
                        prev_question_id:
                          type: integer
                  loan_terms:
                    type: object
                    properties:
                      duration:
                        type: integer
                      payment_frequency:
                        type: string
                      loan_amount:
                        type: integer
              examples: {}
        responses:
          '200':
            description: Successful Operation
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        loan_draft_id:
                          type: string
                        loan_history_id:
                          type: string
                        user_profile_id:
                          type: string
                        number_order_id:
                          type: number
                    message:
                      type: string
                    statusCode:
                      type: integer
                examples:
                  '0':
                    value: >-
                      {"statusCode":200,"message":"","data":{"loan_draft_id":"7b935429623a11ecbc8b5d1975c76c86","loan_history_id":"770215b7623c11ecb9696f03daabda5c","user_profile_id":"ec7592f3-f0ec-4873-9fcd-0750ac0ee83f", "number_order_id":1}}
          '400':
            description: Invalid Input
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                    statusCode:
                      type: integer
                examples:
                  '0':
                    value: >-
                      {"statusCode":400,"message":"response_error.invalid_parameter"}
  /client/user-access-service/load-list-loan-history:
    get:
      tags:
      - Loan                
      description: Load list loan history
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiJiYzdkZGQ4Yy0zZDg1LTQzNTEtYWI2My1jN2NkNTZmMzNlNjUiLCJldmVudF9pZCI6IjhmN2E1ZmE4LWY3NDYtNDE2ZS04MDRkLWI1MjI4Y2NlNjg5MyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNDgzNzYsImV4cCI6MTY0MDI1MTk3NiwiaWF0IjoxNjQwMjQ4Mzc2LCJqdGkiOiIwZjgxMTJiNS03MzJjLTQ1NGQtYmQ4Ny00ZjdlMjRkMTI3MzEiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.rSq3V_BlSv2IABMCyCKhJgSJWHGDC9ppf-bJ5pvRADGfi5J5Cw8TqVFstZKuFQ6v_bdRU-OMVSXdleEId43ubrLPN1W3zOz7f3qQRc10_zut-AM0qfc7TneN2b2fhkOvdiTP-bdTxmtMD0U34cEmqEdUUQcM33oYaZHJc0P6SaJjmomXqlNKAmQLCOkwj6sA4AZYPrnOp2ko5ZDd1gWF8J5moY7Ae8U8gsHi2uZOKYtIJdT-V93blmbdvBC95L66le1e_LL0X_aT0excRiLzu4fN2EshhrtA62oc92cN4kFiz-29miliT5_Ho0Vlq14tsVWjt7Ot7Zx4XxsTItuJgA
      responses:
        '200':
          description: Load list loan history
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LoanHistory'
                  message:
                    type: string
              examples:
                    '0':
                      value: >-
                       {"message":"","data":[{"loan_history_id":"097e07ac62db11ec9fada30782bd2428","last_loan_status":"cancelled","last_loan_updated_at":1640145351.576,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":10000,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"da2273ea627811ecb90adf1a233ea65a","last_loan_status":"cancelled","last_loan_updated_at":1640103581.997,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":10000,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"f937aa26627911ecaed71fa3a97fc81b","last_loan_status":"cancelled","last_loan_updated_at":1640103661.979,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":10000,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"51aa2952639611ecb67b77eb50e61baf","last_loan_status":"pending_review","last_loan_updated_at":1640225780.62,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":10000,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"010006f8624c11ec82722d737d089da5","last_loan_status":"cancelled","last_loan_updated_at":1640083917.721,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":10000,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"93aa902862da11ec9955dbb49a0533c2","last_loan_status":"cancelled","last_loan_updated_at":1640145153.639,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":10000,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"21807b6862db11ec82aadbb49a0533c2","last_loan_status":"cancelled","last_loan_updated_at":1640159658.358,"loan_type":"HOME_LOAN","loan_terms":{"duration":6,"interest_rate":0,"loan_amount":19600,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"5a0f12f4618211eca72e1142be5c8663","last_loan_status":"cancelled","last_loan_updated_at":1639998516.429,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":5000,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"722e9623627a11ec8dfb1fa3a97fc81b","last_loan_status":"cancelled","last_loan_updated_at":1640103876.124,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":18400,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"21ff93ad623f11ec8c6559c9c123dfd7","last_loan_status":"cancelled","last_loan_updated_at":1640078510.277,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":10000,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"ac7e65c6623e11ec9880edac3ef94fab","last_loan_status":"cancelled","last_loan_updated_at":1640078201.789,"loan_type":"HOME_LOAN","loan_terms":{"duration":6,"interest_rate":0,"loan_amount":18200,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"1bea39e0627611ecbd77255869e214a7","last_loan_status":"cancelled","last_loan_updated_at":1640102406.349,"loan_type":"HOME_LOAN","loan_terms":{"duration":9,"interest_rate":0,"loan_amount":22800,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"55477c43624b11ec815a117f0864d525","last_loan_status":"cancelled","last_loan_updated_at":1640083796.547,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":10000,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"b1c9e73f62ce11ecad7047f272c435e9","last_loan_status":"cancelled","last_loan_updated_at":1640140047.884,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":10000,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"7c53b236623f11ecb82c712737a36b69","last_loan_status":"cancelled","last_loan_updated_at":1640079598.918,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":10000,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"8816dce462ce11ecba8847f272c435e9","last_loan_status":"cancelled","last_loan_updated_at":1640139984.017,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":10000,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"35b7a020627a11ecb2cd1fa3a97fc81b","last_loan_status":"cancelled","last_loan_updated_at":1640103767.242,"loan_type":"HOME_LOAN","loan_terms":{"duration":12,"interest_rate":0,"loan_amount":18400,"payment_frequency":"monthly","loan_service_fee":0}},{"loan_history_id":"6b49d79162da11ecb980dbb49a0533c2","last_loan_status":"cancelled","last_loan_updated_at":1640145102.287,"loan_type":"HOME_LOAN","loan_terms":{"duration":6,"interest_rate":0,"loan_amount":19200,"payment_frequency":"monthly","loan_service_fee":0}}]}
        405:
          description: Invalid input
          content: {}
      security:
      - floria_auth:
        - read:loan
  /client/user-access-service/cancel-loan-history:
    patch:
      tags:
      - Loan                
      description: Cancel Loan History
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiIxODg4YmRkMC02YzJkLTRhNjktYjM0OC02NDE4NDI0MTQ3N2UiLCJldmVudF9pZCI6IjIxOGQxYjkwLTdkNTMtNGU0OC05Yjk2LWE2ZmFiNjI4OWIxMyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNTUxMDcsImV4cCI6MTY0MDI1ODcwNywiaWF0IjoxNjQwMjU1MTA3LCJqdGkiOiI4Mzc0MDJlMC0xM2I3LTQxZjYtYmVlYi0wOTBkZGFjMjdkZGYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.W_MCiHjNqoGal6JyTGRrndFVABtU85DFj8QyJWERA7g_3GWwYPJMFgEXERaZe0MxVT7iA2NIctWloCbM6RXO0QCXyj0V3j1pcvqPoQKwrKMF7-f6T3dzMPGLvCjWY7Tzm4D-El8NW7glSY0Vo67usm1UxRrNZK1SKdzwCPcd3_ojvejY0XFjtUdHKKEZwpx-StXt4-uXQu4AqmNJPCv48UdDNaeGSJEWkhlaNSQGv1l4eFNWp13hEzCCkx04SVifJX_hMNT0mCLmOdorGSr3dwP4nP6DKkxrjHG7EBKMJVAdwCwkUALT2Wwkjc3YtLY6QGaXpfiMYZEjcUeuoZ2Tqg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                loan_history_id:
                  type: string
            examples:
              '0':
                value: "{\r\n    \"loan_history_id\": \"be7e00675fbe11ec81d57d31eee56676\"\r\n}"
      responses:
        200:
          description: Successful operation
        '401':
          description: Operation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  statusCode:
                    type: integer
              examples:
                '0':
                  value: >-
                    {"statusCode":401,"message":"response_error.loan_history_does_not_exist"}      
      security:
      - floria_auth:
        - write:loan         
  
  /client/user-access-service/get-payment-schedule:
    post:
      tags:
      - Loan                
      description: Get list payment schedule loan
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiIxODg4YmRkMC02YzJkLTRhNjktYjM0OC02NDE4NDI0MTQ3N2UiLCJldmVudF9pZCI6IjIxOGQxYjkwLTdkNTMtNGU0OC05Yjk2LWE2ZmFiNjI4OWIxMyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNTUxMDcsImV4cCI6MTY0MDI1ODcwNywiaWF0IjoxNjQwMjU1MTA3LCJqdGkiOiI4Mzc0MDJlMC0xM2I3LTQxZjYtYmVlYi0wOTBkZGFjMjdkZGYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.W_MCiHjNqoGal6JyTGRrndFVABtU85DFj8QyJWERA7g_3GWwYPJMFgEXERaZe0MxVT7iA2NIctWloCbM6RXO0QCXyj0V3j1pcvqPoQKwrKMF7-f6T3dzMPGLvCjWY7Tzm4D-El8NW7glSY0Vo67usm1UxRrNZK1SKdzwCPcd3_ojvejY0XFjtUdHKKEZwpx-StXt4-uXQu4AqmNJPCv48UdDNaeGSJEWkhlaNSQGv1l4eFNWp13hEzCCkx04SVifJX_hMNT0mCLmOdorGSr3dwP4nP6DKkxrjHG7EBKMJVAdwCwkUALT2Wwkjc3YtLY6QGaXpfiMYZEjcUeuoZ2Tqg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                loan_history_id:
                  type: string
            examples:
              '0':
                value: "{\r\n    \"loan_history_id\": \"be7e00675fbe11ec81d57d31eee56676\"\r\n}"
      responses:
        200:
          description: Successful operation
        '401':
          description: Operation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                 
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/PaymentSchedule'
                  message:
                    type: string
                  statusCode:
                    type: integer
              examples:
                '0':
                  value: >-
                    {"message":"","data":[{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":142,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3670.204848,"interest":373.75,"updated_at":1642405590.333,"balance":30829.795152,"number_order_id_str":"142","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":34500,"loan_payment_period_time":1645083990,"loan_payment_schedule_id":"969bf996776911ecbcedbd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":143,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3709.965401,"interest":333.989447,"updated_at":1642405590.333,"balance":27119.829751,"number_order_id_str":"143","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":30829.795152,"loan_payment_period_time":1647762390,"loan_payment_schedule_id":"969bfc1e776911ec8b3abd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":144,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3750.156692,"interest":293.798156,"updated_at":1642405590.333,"balance":23369.673059,"number_order_id_str":"144","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":27119.829751,"loan_payment_period_time":1650440790,"loan_payment_schedule_id":"969bfd1e776911eca14cbd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":145,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3790.78339,"interest":253.171458,"updated_at":1642405590.333,"balance":19578.889669,"number_order_id_str":"145","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":23369.673059,"loan_payment_period_time":1653119190,"loan_payment_schedule_id":"969bfdf4776911ecade8bd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":146,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3831.85021,"interest":212.104638,"updated_at":1642405590.333,"balance":15747.039459,"number_order_id_str":"146","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":19578.889669,"loan_payment_period_time":1655797590,"loan_payment_schedule_id":"969bfebd776911ec8afdbd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":147,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3873.361921,"interest":170.592927,"updated_at":1642405590.333,"balance":11873.677538,"number_order_id_str":"147","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":15747.039459,"loan_payment_period_time":1658475990,"loan_payment_schedule_id":"969bff90776911ec913bbd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":148,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3915.323341,"interest":128.631507,"updated_at":1642405590.333,"balance":7958.354197,"number_order_id_str":"148","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":11873.677538,"loan_payment_period_time":1661154390,"loan_payment_schedule_id":"969c005f776911eca347bd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":149,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3957.739344,"interest":86.215504,"updated_at":1642405590.333,"balance":4000.614853,"number_order_id_str":"149","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":7958.354197,"loan_payment_period_time":1663832790,"loan_payment_schedule_id":"969c0125776911ecb911bd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":150,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":4000.614854,"interest":43.339994,"updated_at":1642405590.333,"balance":0,"number_order_id_str":"150","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":4000.614853,"loan_payment_period_time":1666511190,"loan_payment_schedule_id":"969c01ec776911ec9b54bd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]}]}
      security:
      - floria_auth:
        - write:loan    
  /client/user-access-service/export-payment-loan:
    post:
      tags:
      - Loan                
      description: Get list payment schedule loan simulator
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiIxODg4YmRkMC02YzJkLTRhNjktYjM0OC02NDE4NDI0MTQ3N2UiLCJldmVudF9pZCI6IjIxOGQxYjkwLTdkNTMtNGU0OC05Yjk2LWE2ZmFiNjI4OWIxMyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNTUxMDcsImV4cCI6MTY0MDI1ODcwNywiaWF0IjoxNjQwMjU1MTA3LCJqdGkiOiI4Mzc0MDJlMC0xM2I3LTQxZjYtYmVlYi0wOTBkZGFjMjdkZGYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.W_MCiHjNqoGal6JyTGRrndFVABtU85DFj8QyJWERA7g_3GWwYPJMFgEXERaZe0MxVT7iA2NIctWloCbM6RXO0QCXyj0V3j1pcvqPoQKwrKMF7-f6T3dzMPGLvCjWY7Tzm4D-El8NW7glSY0Vo67usm1UxRrNZK1SKdzwCPcd3_ojvejY0XFjtUdHKKEZwpx-StXt4-uXQu4AqmNJPCv48UdDNaeGSJEWkhlaNSQGv1l4eFNWp13hEzCCkx04SVifJX_hMNT0mCLmOdorGSr3dwP4nP6DKkxrjHG7EBKMJVAdwCwkUALT2Wwkjc3YtLY6QGaXpfiMYZEjcUeuoZ2Tqg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                loan_history_id:
                  type: string
            examples:
              '0':
                value: "{\r\n    \"loan_history_id\": \"57b9df1b776911ec89d0bd69e940e0fd\"\r\n}"
      responses:
        401:
          description: Operation failed
        200:
          description: Successful operation 
          content:
            application/json:
              schema:
                type: object
                properties:
                 
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/PaymentSchedule'
                  message:
                    type: string
                  statusCode:
                    type: integer
              examples:
                '0':
                  value: >-
                   {"message":"","data":[{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":142,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3670.204848,"interest":373.75,"updated_at":1642405590.333,"balance":30829.795152,"number_order_id_str":"142","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":34500,"loan_payment_period_time":1645083990,"loan_payment_schedule_id":"969bf996776911ecbcedbd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":143,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3709.965401,"interest":333.989447,"updated_at":1642405590.333,"balance":27119.829751,"number_order_id_str":"143","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":30829.795152,"loan_payment_period_time":1647762390,"loan_payment_schedule_id":"969bfc1e776911ec8b3abd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":144,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3750.156692,"interest":293.798156,"updated_at":1642405590.333,"balance":23369.673059,"number_order_id_str":"144","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":27119.829751,"loan_payment_period_time":1650440790,"loan_payment_schedule_id":"969bfd1e776911eca14cbd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":145,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3790.78339,"interest":253.171458,"updated_at":1642405590.333,"balance":19578.889669,"number_order_id_str":"145","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":23369.673059,"loan_payment_period_time":1653119190,"loan_payment_schedule_id":"969bfdf4776911ecade8bd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":146,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3831.85021,"interest":212.104638,"updated_at":1642405590.333,"balance":15747.039459,"number_order_id_str":"146","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":19578.889669,"loan_payment_period_time":1655797590,"loan_payment_schedule_id":"969bfebd776911ec8afdbd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":147,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3873.361921,"interest":170.592927,"updated_at":1642405590.333,"balance":11873.677538,"number_order_id_str":"147","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":15747.039459,"loan_payment_period_time":1658475990,"loan_payment_schedule_id":"969bff90776911ec913bbd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":148,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3915.323341,"interest":128.631507,"updated_at":1642405590.333,"balance":7958.354197,"number_order_id_str":"148","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":11873.677538,"loan_payment_period_time":1661154390,"loan_payment_schedule_id":"969c005f776911eca347bd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":149,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":3957.739344,"interest":86.215504,"updated_at":1642405590.333,"balance":4000.614853,"number_order_id_str":"149","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":7958.354197,"loan_payment_period_time":1663832790,"loan_payment_schedule_id":"969c0125776911ecb911bd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]},{"created_at":1642405486.665,"loan_history_id":"57b9df1b776911ec89d0bd69e940e0fd","fees_charged":{"nsf_fee":0,"extension_fee":0,"loan_service_fee":30,"total_fees":30,"closing_fee":0},"number_order_id":150,"created_by":"adc0dcf2-408c-4d0e-be62-745baa93a87f","total_payment":4073.954848,"user_profile_id":"adc0dcf2-408c-4d0e-be62-745baa93a87f","principal":4000.614854,"interest":43.339994,"updated_at":1642405590.333,"balance":0,"number_order_id_str":"150","updated_by":"2051e15c-2d02-4c50-a936-4ab349f8437e","beginning_amount":4000.614853,"loan_payment_period_time":1666511190,"loan_payment_schedule_id":"969c01ec776911ec9b54bd69e940e0fd","payment":4043.954848,"last_payment_status":"upcoming","user_payment_period":[]}]}
      security:
      - floria_auth:
        - write:loan                        
  /client/user-access-service/get-questionnaire:
    post:
      tags:
      - Questionnaire
      summary: User gets specific questions and responds to questionnaire
      description: Retrieve questionnaire
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiIxODg4YmRkMC02YzJkLTRhNjktYjM0OC02NDE4NDI0MTQ3N2UiLCJldmVudF9pZCI6IjIxOGQxYjkwLTdkNTMtNGU0OC05Yjk2LWE2ZmFiNjI4OWIxMyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNTUxMDcsImV4cCI6MTY0MDI1ODcwNywiaWF0IjoxNjQwMjU1MTA3LCJqdGkiOiI4Mzc0MDJlMC0xM2I3LTQxZjYtYmVlYi0wOTBkZGFjMjdkZGYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.W_MCiHjNqoGal6JyTGRrndFVABtU85DFj8QyJWERA7g_3GWwYPJMFgEXERaZe0MxVT7iA2NIctWloCbM6RXO0QCXyj0V3j1pcvqPoQKwrKMF7-f6T3dzMPGLvCjWY7Tzm4D-El8NW7glSY0Vo67usm1UxRrNZK1SKdzwCPcd3_ojvejY0XFjtUdHKKEZwpx-StXt4-uXQu4AqmNJPCv48UdDNaeGSJEWkhlaNSQGv1l4eFNWp13hEzCCkx04SVifJX_hMNT0mCLmOdorGSr3dwP4nP6DKkxrjHG7EBKMJVAdwCwkUALT2Wwkjc3YtLY6QGaXpfiMYZEjcUeuoZ2Tqg
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                type: object
                properties:
                  questionnaire:
                    $ref: '#/components/schemas/Questionnaire'
                  message:
                    type: string
              examples:
                    '0':
                      value: >-
                        {"message":"","data":[{"loan_type_question":"home_improvement_loan","active_answer":1,"questionnaire_id":"5a01380a-5972-11ec-8871-e0d55e29eab4","icon":"","is_hide_item":false,"condition_display_question":"","next_question_id":"","value_answer_input":"","prev_question_id":1,"question_id":1,"sub_item":[{"active_answer":1,"question_order":1,"page_title":"","icon":"","condition_display_question":"","content_key":"loan_question.home_improvement_content_key_1_1","type":"select_box_card_rectangular","is_hide_item":false,"question_id":2,"loan_type_question":"home_improvement_loan","next_question_id":5,"value_answer_input":"","sub_item":[],"parent_id":1,"prev_question_id":""},{"active_answer":1,"question_order":2,"page_title":"","icon":"","condition_display_question":"","content_key":"loan_question.home_improvement_content_key_1_2","type":"select_box_card_rectangular","is_hide_item":false,"question_id":3,"loan_type_question":"home_improvement_loan","next_question_id":5,"value_answer_input":"","sub_item":[],"parent_id":1,"prev_question_id":""},{"active_answer":1,"question_order":3,"page_title":"","icon":"","condition_display_question":"","content_key":"loan_question.home_improvement_content_key_1_3","type":"select_box_card_rectangular","is_hide_item":false,"question_id":4,"loan_type_question":"home_improvement_loan","next_question_id":5,"value_answer_input":"","sub_item":[],"parent_id":1,"prev_question_id":""}],"question_order":1,"page_title":"loan_question.home_improvement_page_title_1","content_key":"loan_question.home_improvement_content_key_1","type":"text_title","parent_id":0},{"loan_type_question":"home_improvement_loan","active_answer":1,"questionnaire_id":"5a018657-5972-11ec-bcd2-e0d55e29eab4","icon":"","is_hide_item":false,"condition_display_question":"","next_question_id":"","value_answer_input":"","prev_question_id":1,"question_id":5,"sub_item":[{"active_answer":1,"question_order":1,"page_title":"","icon":"icon-floria-outline-home","condition_display_question":"","content_key":"loan_question.home_improvement_content_key_2_1","type":"select_box_card_square","is_hide_item":false,"question_id":6,"loan_type_question":"home_improvement_loan","next_question_id":8,"value_answer_input":"","sub_item":[],"parent_id":5,"prev_question_id":""},{"active_answer":1,"question_order":2,"page_title":"","icon":"icon-floria-outline-chair","condition_display_question":"","content_key":"loan_question.home_improvement_content_key_2_2","type":"select_box_card_square","is_hide_item":false,"question_id":7,"loan_type_question":"home_improvement_loan","next_question_id":8,"value_answer_input":"","sub_item":[],"parent_id":5,"prev_question_id":""}],"question_order":2,"page_title":"loan_question.home_improvement_page_title_2","content_key":"loan_question.home_improvement_content_key_2","type":"text_title","parent_id":0},{"loan_type_question":"home_improvement_loan","active_answer":1,"questionnaire_id":"5a018658-5972-11ec-b87e-e0d55e29eab4","icon":"","is_hide_item":false,"condition_display_question":"","next_question_id":"DONE","value_answer_input":"","prev_question_id":5,"question_id":8,"sub_item":[{"active_answer":1,"question_order":1,"page_title":"","icon":"","condition_display_question":6,"content_key":"loan_question.home_improvement_content_key_3_1","type":"select_box_card_rectangular","is_hide_item":false,"question_id":9,"loan_type_question":"home_improvement_loan","next_question_id":20,"value_answer_input":"","sub_item":[],"parent_id":8,"prev_question_id":""},{"active_answer":1,"question_order":2,"page_title":"","icon":"","condition_display_question":6,"content_key":"loan_question.home_improvement_content_key_3_2","type":"select_box_card_rectangular","is_hide_item":false,"question_id":10,"loan_type_question":"home_improvement_loan","next_question_id":20,"value_answer_input":"","sub_item":[],"parent_id":8,"prev_question_id":""},{"active_answer":1,"question_order":3,"page_title":"","icon":"","condition_display_question":6,"content_key":"loan_question.home_improvement_content_key_3_3","type":"select_box_card_rectangular","is_hide_item":false,"question_id":11,"loan_type_question":"home_improvement_loan","next_question_id":20,"value_answer_input":"","sub_item":[],"parent_id":8,"prev_question_id":""},{"active_answer":1,"question_order":4,"page_title":"","icon":"","condition_display_question":6,"content_key":"loan_question.home_improvement_content_key_3_4","type":"select_box_card_rectangular","is_hide_item":false,"question_id":12,"loan_type_question":"home_improvement_loan","next_question_id":20,"value_answer_input":"","sub_item":[],"parent_id":8,"prev_question_id":""},{"active_answer":1,"question_order":5,"page_title":"","icon":"","condition_display_question":6,"content_key":"loan_question.home_improvement_content_key_3_5","type":"select_box_card_rectangular","is_hide_item":false,"question_id":13,"loan_type_question":"home_improvement_loan","next_question_id":20,"value_answer_input":"","sub_item":[],"parent_id":8,"prev_question_id":""},{"active_answer":1,"question_order":6,"page_title":"","icon":"","condition_display_question":6,"content_key":"loan_question.home_improvement_content_key_3_6","type":"select_box_card_rectangular","is_hide_item":false,"question_id":14,"loan_type_question":"home_improvement_loan","next_question_id":20,"value_answer_input":"","sub_item":[],"parent_id":8,"prev_question_id":""},{"active_answer":1,"question_order":7,"page_title":"","icon":"","condition_display_question":6,"content_key":"","type":"input_text_card_rectangular","is_hide_item":false,"question_id":15,"loan_type_question":"home_improvement_loan","next_question_id":20,"value_answer_input":"","sub_item":[],"parent_id":8,"prev_question_id":""},{"active_answer":1,"question_order":8,"page_title":"","icon":"","condition_display_question":7,"content_key":"loan_question.home_improvement_content_key_3_8","type":"select_box_card_rectangular","is_hide_item":false,"question_id":16,"loan_type_question":"home_improvement_loan","next_question_id":20,"value_answer_input":"","sub_item":[],"parent_id":8,"prev_question_id":""},{"active_answer":1,"question_order":9,"page_title":"","icon":"","condition_display_question":7,"content_key":"loan_question.home_improvement_content_key_3_9","type":"select_box_card_rectangular","is_hide_item":false,"question_id":17,"loan_type_question":"home_improvement_loan","next_question_id":20,"value_answer_input":"","sub_item":[],"parent_id":8,"prev_question_id":""},{"active_answer":1,"question_order":10,"page_title":"","icon":"","condition_display_question":7,"content_key":"loan_question.home_improvement_content_key_3_10","type":"select_box_card_rectangular","is_hide_item":false,"question_id":18,"loan_type_question":"home_improvement_loan","next_question_id":20,"value_answer_input":"","sub_item":[],"parent_id":8,"prev_question_id":""},{"active_answer":1,"question_order":7,"page_title":"","icon":"","condition_display_question":7,"content_key":"","type":"input_text_card_rectangular","is_hide_item":false,"question_id":19,"loan_type_question":"home_improvement_loan","next_question_id":20,"value_answer_input":"","sub_item":[],"parent_id":8,"prev_question_id":""}],"question_order":3,"page_title":"loan_question.home_improvement_page_title_3","content_key":"loan_question.home_improvement_content_key_3","type":"text_title","parent_id":0},{"loan_type_question":"home_improvement_loan","active_answer":1,"questionnaire_id":"5a018659-5972-11ec-a085-e0d55e29eab4","icon":"","is_hide_item":false,"condition_display_question":"","next_question_id":"DONE","value_answer_input":"","prev_question_id":8,"question_id":20,"sub_item":[{"active_answer":1,"question_order":1,"page_title":"","icon":"icon-floria-outline-briefcase","condition_display_question":"","content_key":"loan_question.home_improvement_content_key_4_1","type":"select_box_card_square","is_hide_item":false,"question_id":21,"loan_type_question":"home_improvement_loan","next_question_id":"","value_answer_input":"","sub_item":[],"parent_id":20,"prev_question_id":""},{"active_answer":1,"question_order":2,"page_title":"","icon":"icon-floria-outline-user","condition_display_question":"","content_key":"loan_question.home_improvement_content_key_4_2","type":"select_box_card_square","is_hide_item":false,"question_id":22,"loan_type_question":"home_improvement_loan","next_question_id":"","value_answer_input":"","sub_item":[],"parent_id":20,"prev_question_id":""},{"active_answer":1,"question_order":3,"page_title":"","icon":"icon-floria-outline-database","condition_display_question":"","content_key":"loan_question.home_improvement_content_key_4_3","type":"select_box_card_square","is_hide_item":true,"question_id":23,"loan_type_question":"home_improvement_loan","next_question_id":"","value_answer_input":"","sub_item":[],"parent_id":20,"prev_question_id":""}],"question_order":4,"page_title":"loan_question.home_improvement_page_title_4","content_key":"loan_question.home_improvement_content_key_4","type":"text_title","parent_id":0}]}
        405:
          description: Invalid input
          content: {}
      security:
      - floria_auth:
        - read:loan   
  /client/user-access-service/create-presigner-url-upload-avatar:
    post:
      tags:
      - Profile                
      description: Create presigner url upload file
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiIxODg4YmRkMC02YzJkLTRhNjktYjM0OC02NDE4NDI0MTQ3N2UiLCJldmVudF9pZCI6IjIxOGQxYjkwLTdkNTMtNGU0OC05Yjk2LWE2ZmFiNjI4OWIxMyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNTUxMDcsImV4cCI6MTY0MDI1ODcwNywiaWF0IjoxNjQwMjU1MTA3LCJqdGkiOiI4Mzc0MDJlMC0xM2I3LTQxZjYtYmVlYi0wOTBkZGFjMjdkZGYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.W_MCiHjNqoGal6JyTGRrndFVABtU85DFj8QyJWERA7g_3GWwYPJMFgEXERaZe0MxVT7iA2NIctWloCbM6RXO0QCXyj0V3j1pcvqPoQKwrKMF7-f6T3dzMPGLvCjWY7Tzm4D-El8NW7glSY0Vo67usm1UxRrNZK1SKdzwCPcd3_ojvejY0XFjtUdHKKEZwpx-StXt4-uXQu4AqmNJPCv48UdDNaeGSJEWkhlaNSQGv1l4eFNWp13hEzCCkx04SVifJX_hMNT0mCLmOdorGSr3dwP4nP6DKkxrjHG7EBKMJVAdwCwkUALT2Wwkjc3YtLY6QGaXpfiMYZEjcUeuoZ2Tqg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file_extension:
                  type: string
            examples:
              '0':
                value: "{\r\n    \"loan_history_id\": \"png\"\r\n}"
      responses:
        401:
          description: Operation failed 
        200:
          description: Successful operation 
          content:
            application/json:
              schema:
                type: object
                properties:
                 
                  data:
                    type: object
                    properties:
                      presign_url:
                        type: string
                      file_path_uploaded:
                        type: string
                      file_content_type:
                        type: string

                  message:
                    type: string
                  statusCode:
                    type: integer
              examples:
                '0':
                  value: >-
                    {"message":"","data":{"presign_url":"https://floria-static-file-bucket.s3.amazonaws.com/avatars/f2667317-776a-11ec-b298-db664069a71d17-01-2022-07-07-15.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAU7TBBBCNQQUXIX5I%2F20220117%2Fca-central-1%2Fs3%2Faws4_request&X-Amz-Date=20220117T075616Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host%3Bx-amz-acl&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDGNhLWNlbnRyYWwtMSJHMEUCIQC4ofzLBMSM6Ziz2009cnO8CtTwsgJIC5sUPU8PZPrKEgIgWFBJzFaachEuZl%2Bz%2B2wSFfOWhVTMbx8LtpTlVd9sL4MqrgIIuf%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwzNDI3MjcxMzMzMzkiDIbY8fR4ZELbUsHUlyqCAiCUf26vEtCDPfuhjf6StoRE4K42gH2vzYkW%2FLVgNNbmHsAg%2FLAHH%2BsYcPysha5uefh%2Bgi73QV8VkHjc7tmh2UYoseuTcFWXETD9KB4t3K%2BQACCSuaoDgdgZw74dBZsuHHbXxvaigpRgTEFFpJjMD%2BXqVk9E020mRX3OZjiWIH3%2FVpksf%2FyWxfg8cSSZ%2FCtkOeLfkR0G%2Bcv7XqmTA2FuA1j1sMnsi8h1DJdpgxbh3Ca%2FDPyyz9qR%2BWYBmUx2zAhGeBrSaFBw0nnoASbJSxKc9HHoxMB%2FwF3fMynuL7ORwhuDDMGWEdbn%2FhqvJtsfqC2C7%2Fs%2BYzVMaUSMvilsZ7qYQwEz1DDVvJSPBjqaAZpeJDBNOWx0aRZ9KyTGrq%2F23t7CSWnQZQ0wim4s1RPoIR6SfD%2BUkvAv0%2BAH%2BxahIJs%2BgA%2BeboO2dIO%2BNVq0yeP9osH4Ds3CFDjTHNDXC9noMkLA3Jl%2BdCX1ZYczbm86VXcfZvwijN1hM720mje6QwkWArN%2BIAH1oWJil8j7xSQHY%2BTKKUsGzulnz0R8fpPPjf9%2FKw8bDU0cnK4%3D&X-Amz-Signature=9c62a52efeba88f43a40da4b6aa40fe07957959e4e89a1ed73da54662cd5f349","file_path_uploaded":"https://floria-static-file-bucket.s3.amazonaws.com/avatars/f2667317-776a-11ec-b298-db664069a71d17-01-2022-07-07-15.png","file_content_type":"image/png"}}
      security:
      - floria_auth:
        - write:profile      
  /client/user-access-service/delete-and-update-avatar-for-user:
    post:
      tags:
      - Profile                
      description:  Delete file from s3 - Update avatar for user profile - Update avatar for cognito user
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiIxODg4YmRkMC02YzJkLTRhNjktYjM0OC02NDE4NDI0MTQ3N2UiLCJldmVudF9pZCI6IjIxOGQxYjkwLTdkNTMtNGU0OC05Yjk2LWE2ZmFiNjI4OWIxMyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNTUxMDcsImV4cCI6MTY0MDI1ODcwNywiaWF0IjoxNjQwMjU1MTA3LCJqdGkiOiI4Mzc0MDJlMC0xM2I3LTQxZjYtYmVlYi0wOTBkZGFjMjdkZGYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.W_MCiHjNqoGal6JyTGRrndFVABtU85DFj8QyJWERA7g_3GWwYPJMFgEXERaZe0MxVT7iA2NIctWloCbM6RXO0QCXyj0V3j1pcvqPoQKwrKMF7-f6T3dzMPGLvCjWY7Tzm4D-El8NW7glSY0Vo67usm1UxRrNZK1SKdzwCPcd3_ojvejY0XFjtUdHKKEZwpx-StXt4-uXQu4AqmNJPCv48UdDNaeGSJEWkhlaNSQGv1l4eFNWp13hEzCCkx04SVifJX_hMNT0mCLmOdorGSr3dwP4nP6DKkxrjHG7EBKMJVAdwCwkUALT2Wwkjc3YtLY6QGaXpfiMYZEjcUeuoZ2Tqg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file_path:
                  type: string
                is_update_profile:
                  type: number
                new_avatar_path:
                  type: string
            examples:
              '0':
                value: {"file_path":null,"is_update_profile":"1","new_avatar_path":"https://floria-static-file-bucket.s3.amazonaws.com/avatars/f2667317-776a-11ec-b298-db664069a71d17-01-2022-07-07-15.png"}
      responses:
        401:
          description:  Operation failed 
        200:
          description: Successful operation
          
      security:
      - floria_auth:
        - write:profile      
  /user-access-service/save-and-send-verify-code-for-user:
    post:
      tags:
      - Verification                
      description:  Temporarily save data, generate verify code and send verify code for user
      
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                area_code:
                  type: number
                phone:
                  type: string
                phone_temp:
                  type: string
            examples:
              '0':
                value: {"email":"tuannv@unitech.vn","area_code":"+1","phone":"1111111222","phone_temp":"(111)(111)-(1222)"}
        
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      is_send_mail_verify:
                        type: boolean
                      is_send_mobile_verify:
                        type: boolean
                  message:
                    type: string
                
              examples:
                '0':
                  value: >-
                    {"message":"","data":{"is_send_mail_verify":false,"is_send_mobile_verify":true}}
        401:
          description:  Operation failed 
   
  /user-access-service/save-and-verify-phone-number-for-current-user:
    post:
      tags:
      - Verification                
      summary:  Verify phone number for user
      
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone_number:
                  type: string
                area_code:
                  type: number
                phone:
                  type: string
                otp:
                  type: string
                code_verify:
                  type: string
                is_send_mail_verify:
                  type: number
            examples:
              '0':
                value: {"phone_number":"+11111111222","phone":"1111111222","area_code":"+1","otp":"111111","code_verify":"111111","is_send_mail_verify":"0"}
        
      responses:
        200:
          description: Successful operation
        401:
          description:  Operation failed 
 
  /user-access-service/save-and-verify-email-for-current-user:
    post:
      tags:
      - Verification                
      summary:  Verify email for user
      
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                field:
                  type: string
                code:
                  type: number
                email:
                  type: string
                code_verify:
                  type: number
            examples:
              '0':
                value: {"field":"email","code":"738619","email":"tuanvnguyen.cit@gmail.com","code_verify":"738619"}
        
      responses:
        200:
          description: Successful operation
        401:
          description:  Operation failed 
         
  /user-access-service/save-and-resend-verify-code-for-user:
    post:
      tags:
      - Verification                
      summary:  Resend verify code for user
      
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                field:
                  type: string
                phone:
                  type: string
                area_code:
                  type: string
                email:
                  type: string
                phone_temp:
                  type: string
            examples:
              '0':
                value: {"field":"email","email":"tuanvnguyen.cit@gmail.com","area_code":"+1","phone":"1111111222","phone_temp":"(111)(111)-(1222)"}
        
      responses:
        200:
          description: Successful operation
        401:
          description:  Operation failed 

  /plaid/get-link-token:
    get:
      tags:
      - Plaid
      summary: Create Plaid link token
      operationId: plaidLinkToken
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      link_token:
                        type: string
                        example: a_link_token
                  message:
                    type: string
                    example: ""
            
        405:
          description: Invalid input
          content: {}
      security:
      - floria_auth:
        - read:link
  /plaid/create-bank-account-token:
    post:
      tags:
      - Plaid
      summary: Plaid generate and save bank account token
      operationId: bankAccountToken
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                public_token:
                  type: string
                  example: public_token
        required: true
      responses:
        200:
          description: Successful operation
          content: {}
        405:
          description: Invalid input
          content: {}
      security:
      - floria_auth:
        - read:link
  /admin/user-access-service/get-list-loan:
    get:
      tags:
        - Admin
      summary: Get current loan list
      parameters:
        - name: loan_group
          in: query
          schema:
            type: string
          example: 'current_loan'
        - name: max_items_per_page
          in: query
          schema:
            type: number
          example: 5
        - name: starting_token
          in: query
          schema:
            type: string
        - name: day_period
          in: query
          schema:
            type: number
          example: 20
        - name: key_search
          in: query
          schema:
            type: number
          example: 23
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiJiYzdkZGQ4Yy0zZDg1LTQzNTEtYWI2My1jN2NkNTZmMzNlNjUiLCJldmVudF9pZCI6IjhmN2E1ZmE4LWY3NDYtNDE2ZS04MDRkLWI1MjI4Y2NlNjg5MyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNDgzNzYsImV4cCI6MTY0MDI1MTk3NiwiaWF0IjoxNjQwMjQ4Mzc2LCJqdGkiOiIwZjgxMTJiNS03MzJjLTQ1NGQtYmQ4Ny00ZjdlMjRkMTI3MzEiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.rSq3V_BlSv2IABMCyCKhJgSJWHGDC9ppf-bJ5pvRADGfi5J5Cw8TqVFstZKuFQ6v_bdRU-OMVSXdleEId43ubrLPN1W3zOz7f3qQRc10_zut-AM0qfc7TneN2b2fhkOvdiTP-bdTxmtMD0U34cEmqEdUUQcM33oYaZHJc0P6SaJjmomXqlNKAmQLCOkwj6sA4AZYPrnOp2ko5ZDd1gWF8J5moY7Ae8U8gsHi2uZOKYtIJdT-V93blmbdvBC95L66le1e_LL0X_aT0excRiLzu4fN2EshhrtA62oc92cN4kFiz-29miliT5_Ho0Vlq14tsVWjt7Ot7Zx4XxsTItuJgA
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/LoanHistoryAdmin'
                          count:
                            type: number
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/LoanHistoryAdminNew'
                          count:
                            type: number
                          next_token:
                            type: string
                      message:
                        type: string
                    
              examples:
                '0':
                  value: >-
                    {"message":"","data":{"items":[{"loan_history_id":"6161e43372b411ec9748e5afd8b393c6","number_order_id":23,"property_information":{"type_of":"Single-Family","address":{"input_search":"test_input_search","unit_number":"","postal_code":"H9W","content":"test address","place_id":"ChIJpSNbehYayUwRoA6rCvUqS3M"}},"days_past_due":0,"last_loan_sub_status":{"updated_by":"","updated_at":0,"content":"non_performing"},"other_table_value":{"user_profile":{"phone_number":"+84766734873","full_name":"Le Hoang","number_order_id_str":"1","email":"hoangl102@gmail.com"}}}],"count":1}}
                '1':
                  value: >-
                    {"message":"","data":{"items":[{"loan_history_id":"6d9f26fa72b311ec8c65291090060a61","number_order_id":2,"property_information":{"type_of":"Single-Family","address":{"input_search":"test_input_search","unit_number":"","postal_code":"H9W","content":"test address","place_id":"ChIJpSNbehYayUwRoA6rCvUqS3M"}},"created_at":1641887550.54,"loan_terms":{"duration":{"name":"12_months","value":12},"loan_amount":14000,"loan_fee":{"loan_origination_fee":4,"interest_rate":14,"nsf_fee":50,"extension_fee":40,"loan_service_fee":20,"closing_fee":0},"payment_frequency":{"name":"monthly","value":1}},"last_loan_status":{"updated_by":"64713910-5ee9-4c82-895d-15e4a82d01bb","updated_at":1641887550.54,"content":"accepted"},"other_table_value":{"user_profile":{"phone_number":"+84766734873","full_name":"Le Hoang","number_order_id_str":"1","email":"hoangl102@gmail.com"}},"note":"risk"}],"count":10,"next_token":"eyJFeGNsdXNpdmVTdGFydEtleSI6IG51bGwsICJib3RvX3RydW5jYXRlX2Ftb3VudCI6IDF9"}
    
      security:
      - floria_auth:
        - write:token
      x-codegen-request-body-name: body
  /admin/update-loan-type-information:
    put:
      tags:
      - Admin                
      description:  Update loan type information
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiIxODg4YmRkMC02YzJkLTRhNjktYjM0OC02NDE4NDI0MTQ3N2UiLCJldmVudF9pZCI6IjIxOGQxYjkwLTdkNTMtNGU0OC05Yjk2LWE2ZmFiNjI4OWIxMyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNTUxMDcsImV4cCI6MTY0MDI1ODcwNywiaWF0IjoxNjQwMjU1MTA3LCJqdGkiOiI4Mzc0MDJlMC0xM2I3LTQxZjYtYmVlYi0wOTBkZGFjMjdkZGYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.W_MCiHjNqoGal6JyTGRrndFVABtU85DFj8QyJWERA7g_3GWwYPJMFgEXERaZe0MxVT7iA2NIctWloCbM6RXO0QCXyj0V3j1pcvqPoQKwrKMF7-f6T3dzMPGLvCjWY7Tzm4D-El8NW7glSY0Vo67usm1UxRrNZK1SKdzwCPcd3_ojvejY0XFjtUdHKKEZwpx-StXt4-uXQu4AqmNJPCv48UdDNaeGSJEWkhlaNSQGv1l4eFNWp13hEzCCkx04SVifJX_hMNT0mCLmOdorGSr3dwP4nP6DKkxrjHG7EBKMJVAdwCwkUALT2Wwkjc3YtLY6QGaXpfiMYZEjcUeuoZ2Tqg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                min_loan_amount:
                  type: number
                max_loan_amount:
                  type: number
                durations:
                  type: array
                  items:
                    $ref: '#/components/schemas/Duration'
                payment_frequencies: 
                  type: array
                  items:
                    $ref: '#/components/schemas/PaymentFrequency'
                loan_type:
                  type: string
            examples:
              '0':
                value: {"min_loan_amount":10000,"max_loan_amount":50000,"durations":[{"name":"3_months","value":3},{"name":"6_months","value":5},{"name":"9_months","value":9},{"name":"12_months","value":12},{"name":"24_months","value":24}],"payment_frequencies":[{"name":"monthly","value":1}],"loan_type":"EXP_HL"}
      responses:
        401:
          description:  Operation failed 
        200:
          description: Successful operation
          
      security:
      - floria_auth:
        - write:loan   
  /admin/update-loan-formula-information:
    put:
      tags:
      - Admin                
      description:  Update loan formula information
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiIxODg4YmRkMC02YzJkLTRhNjktYjM0OC02NDE4NDI0MTQ3N2UiLCJldmVudF9pZCI6IjIxOGQxYjkwLTdkNTMtNGU0OC05Yjk2LWE2ZmFiNjI4OWIxMyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNTUxMDcsImV4cCI6MTY0MDI1ODcwNywiaWF0IjoxNjQwMjU1MTA3LCJqdGkiOiI4Mzc0MDJlMC0xM2I3LTQxZjYtYmVlYi0wOTBkZGFjMjdkZGYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.W_MCiHjNqoGal6JyTGRrndFVABtU85DFj8QyJWERA7g_3GWwYPJMFgEXERaZe0MxVT7iA2NIctWloCbM6RXO0QCXyj0V3j1pcvqPoQKwrKMF7-f6T3dzMPGLvCjWY7Tzm4D-El8NW7glSY0Vo67usm1UxRrNZK1SKdzwCPcd3_ojvejY0XFjtUdHKKEZwpx-StXt4-uXQu4AqmNJPCv48UdDNaeGSJEWkhlaNSQGv1l4eFNWp13hEzCCkx04SVifJX_hMNT0mCLmOdorGSr3dwP4nP6DKkxrjHG7EBKMJVAdwCwkUALT2Wwkjc3YtLY6QGaXpfiMYZEjcUeuoZ2Tqg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                min_loan_amount:
                  type: integer
                max_loan_amount:
                  type: integer
                interest_rate:
                  type: integer
                loan_origination_fee:
                  type: integer
                loan_service_fee:
                  type: integer
                closing_fee:
                  type: integer
                extension_fee:
                  type: integer
                nsf_fee:
                  type: integer   
                loan_formula_information_id:
                  type: string  
                loan_type:
                  type: string 

            examples:
              '0':
                value: {"min_loan_amount":10000,"max_loan_amount":15000,"interest_rate":20,"loan_origination_fee":10,"loan_service_fee":10,"closing_fee":10,"extension_fee":10,"nsf_fee":10,"loan_formula_information_id":"69771d0e76d511ecb1b7692939162778","name":"Category 1","loan_type":"home_improvement_loan"}
      responses:
        401:
          description:  Operation failed 
        200:
          description: Successful operation
      security:
      - floria_auth:
        - write:loan  
  /admin/create-loan-formula-information:
    post:
      tags:
      - Admin                
      summary:  Create loan formula information
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiIxODg4YmRkMC02YzJkLTRhNjktYjM0OC02NDE4NDI0MTQ3N2UiLCJldmVudF9pZCI6IjIxOGQxYjkwLTdkNTMtNGU0OC05Yjk2LWE2ZmFiNjI4OWIxMyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNTUxMDcsImV4cCI6MTY0MDI1ODcwNywiaWF0IjoxNjQwMjU1MTA3LCJqdGkiOiI4Mzc0MDJlMC0xM2I3LTQxZjYtYmVlYi0wOTBkZGFjMjdkZGYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.W_MCiHjNqoGal6JyTGRrndFVABtU85DFj8QyJWERA7g_3GWwYPJMFgEXERaZe0MxVT7iA2NIctWloCbM6RXO0QCXyj0V3j1pcvqPoQKwrKMF7-f6T3dzMPGLvCjWY7Tzm4D-El8NW7glSY0Vo67usm1UxRrNZK1SKdzwCPcd3_ojvejY0XFjtUdHKKEZwpx-StXt4-uXQu4AqmNJPCv48UdDNaeGSJEWkhlaNSQGv1l4eFNWp13hEzCCkx04SVifJX_hMNT0mCLmOdorGSr3dwP4nP6DKkxrjHG7EBKMJVAdwCwkUALT2Wwkjc3YtLY6QGaXpfiMYZEjcUeuoZ2Tqg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                min_loan_amount:
                  type: integer
                max_loan_amount:
                  type: integer
                interest_rate:
                  type: integer
                loan_origination_fee:
                  type: integer
                loan_service_fee:
                  type: integer
                closing_fee:
                  type: integer
                extension_fee:
                  type: integer
                nsf_fee:
                  type: integer   
                name:
                  type: string  
                loan_type:
                  type: string 
            examples:
              '0':
                value: {"min_loan_amount":10000,"max_loan_amount":15000,"interest_rate":10,"loan_origination_fee":10,"loan_service_fee":10,"closing_fee":10,"extension_fee":10,"nsf_fee":10,"name":"Category 4","loan_type":"home_improvement_loan"}
      responses:
        401:
          description:  Operation failed 
        200:
          description: Successful operation
      security:
      - floria_auth:
        - write:loan         
  /admin/disable-loan-formula-information:
    put:
      tags:
      - Admin                
      summary:  Disable loan formula information
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
            eyJraWQiOiJodkhEYjFrWG9XUm1QVWVWam1MNXY2WWx2ZDk3K05YQVR3cDI3SEUwdUY4PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIyYjExZmY2Ni00NThiLTQ3YTItYTE5OC00MzAwZTlmNmEwZGIiLCJjb2duaXRvOmdyb3VwcyI6WyJmbG9yaWEtdXNlciJdLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuY2EtY2VudHJhbC0xLmFtYXpvbmF3cy5jb21cL2NhLWNlbnRyYWwtMV80clFzYk1ISm8iLCJjbGllbnRfaWQiOiI1bGdkMTA0MnZodHRtcmF1dThubm42OWY5NiIsIm9yaWdpbl9qdGkiOiIxODg4YmRkMC02YzJkLTRhNjktYjM0OC02NDE4NDI0MTQ3N2UiLCJldmVudF9pZCI6IjIxOGQxYjkwLTdkNTMtNGU0OC05Yjk2LWE2ZmFiNjI4OWIxMyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NDAyNTUxMDcsImV4cCI6MTY0MDI1ODcwNywiaWF0IjoxNjQwMjU1MTA3LCJqdGkiOiI4Mzc0MDJlMC0xM2I3LTQxZjYtYmVlYi0wOTBkZGFjMjdkZGYiLCJ1c2VybmFtZSI6IjJiMTFmZjY2LTQ1OGItNDdhMi1hMTk4LTQzMDBlOWY2YTBkYiJ9.W_MCiHjNqoGal6JyTGRrndFVABtU85DFj8QyJWERA7g_3GWwYPJMFgEXERaZe0MxVT7iA2NIctWloCbM6RXO0QCXyj0V3j1pcvqPoQKwrKMF7-f6T3dzMPGLvCjWY7Tzm4D-El8NW7glSY0Vo67usm1UxRrNZK1SKdzwCPcd3_ojvejY0XFjtUdHKKEZwpx-StXt4-uXQu4AqmNJPCv48UdDNaeGSJEWkhlaNSQGv1l4eFNWp13hEzCCkx04SVifJX_hMNT0mCLmOdorGSr3dwP4nP6DKkxrjHG7EBKMJVAdwCwkUALT2Wwkjc3YtLY6QGaXpfiMYZEjcUeuoZ2Tqg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:  
                loan_formula_information_id:
                  type: string
                  example: 852eb189777611eca822d366732323a5
      responses:
        401:
          description:  Operation failed 
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      loan_formula_information_id:
                        type: string
                  message:
                    type: string
                  statusCode:
                    type: integer
              examples:
                '0':
                  value: >-
                    {"message":"","data":{"loan_formula_information_id":"852eb189777611eca822d366732323a5"}}
      security:
      - floria_auth:
        - write:loan  
  /admin/get-loan-formulas-information-by-type:
    get:
      tags:
      - Admin                
      summary:  Get loan formulas by type
      parameters:
        - name: access-token
          in: header
          schema:
            type: string
          example: >-
[...]
